body{
  background-color:orange;
color: blue;}
#b{
  position:absolute;
  left:500px;
  top:120px;
}
#button{
  position:absolute;
  left:700px;
  top:120px;
}
#gg{
  position:absolute;
  left:100px;
  top:300px;
  font: 50px arial, sans-serif;
}
#YT{
  width: 200px;
  position:absolute;
  left: 550px;
  top: 10px;
}
#Youtube{
  font: 30px arial, sans-serif;
  color: white;
text-align: center;
font-style: italic;
position:absolute;
top: 60px;
left: 550px;
}
