.cheese {
width: 60%;
height: 100px;
background-color: yellow;
}

.topbun {
height: 70px;
width: 60%;
background: #e5b05a;
border-radius: 100px 100px 20px 20px;
border-bottom: solid 10px rgba(0,0,0,.1);
}
.tomato{
 height:69px;
width: 60%;
background-color: red

}
