body{
  background-color: blue;
  color:yellow;
  margin-left: auto;
  margin-right: auto;
}
div{
  position fixed;
  text-align: center;
left 40%
}
#theo{
  height:300px;
  width:300px;
}
#marcus{
  height:300px;
  width:300px;
}
#a3{
  height:300px;
  width:300px;
}
#ike{
  height:300px;
  width:300px;
}
#koby{
  height:300px;
  width:300px;
}
#greg{
  height:300px;
  width:300px;
}
