.blue{
width: 100%;
height:100px;
background-color:red;
background-image: url("blue.jpg");
animation: backgroundScroll-left 10s linear infinite;
}

@keyframes backgroundScroll-left{
from {background-position: 0 0;}
to{ background-position: -200px 0;}

}

@keyframes backgroundScroll-right{
from {background-position: 0 0;}
to{ background-position: +200px 0;}

}
.green{
  width: 100%;
  height:100px;
  background-color: purple;
  background-image: url("green.gif");
  animation: backgroundScroll-right 10s linear infinite;
}
